<!DOCTYPE html>
<html>
<head>
  <title>Webpage Design</title>
  <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
  <div class="navbar">
    <div class="navbar-text">Profile</div>
  </div>
  
  <div class="main-content">
    <h1 class="main-text">Welcome!</h1>
    <p class="sub-text">Energy Insights Made Easy: Explore Your Electricity Usage with Location-based Reports</p>
    
    <div class="button-container">
    <button class="transparent-button" onclick="redirectToCreateProject()">Create Project</button>
    <button class="transparent-button" onclick="redirectToViewProjects()">View Projects</button>
    </div>
  </div>
  <script> function redirectToCreateProject() {
   window.location.href = "/createProject";
   }

   function redirectToViewProjects() {
   window.location.href = "/viewProjects";
   }
   </script>
  

</body>
</html>
